In [2]:
# Phython function: Start with the keyword 'def'
def add(x,y):
    return x+y

add(2,3)
add(45,24)
add(34,465)
add(0,2)

type(add)

function

In [3]:
def squares(x):
    return [ele**2 for ele in x]

squares([23,6,57,7,89])
squares((12,34,68,9,9947,23,45,7,8,98090))

[144, 1156, 4624, 81, 98942809, 529, 2025, 49, 64, 9621648100]

In [4]:
def add(a_list):
    result=0
    for ele in a_list:
        result=result+ele
    return result

add([1,2,3])
add((23,4,6,7,8,9))
add([23,5,8,898,23,46,57,68])

1128

In [5]:
def mul(a_list):
    result=1
    for ele in a_list:
        result=result*ele
        
    return result

mul([5,3,2])

30

In [6]:
def sub(a_list):
    result=0
    for ele in a_list:
        result=result-ele
        
    return result

sub([3,2,1])

-6

In [7]:
def div(a_list):
    result=10
    for ele in a_list:
        result=result/ele
        
    return result
div([1,2,3])

1.6666666666666667

In [8]:
# Python functions
def reorder(list_a):
    pos_list=[]
    neg_list=[]
    for ele in list_a:
        if ele>0:
            pos_list.append(ele)
        else:
            neg_list.append(ele)
    return neg_list+pos_list

In [9]:
reorder([-49,-96,69,43,89,-6,-13,14,26])

[-49, -96, -6, -13, 69, 43, 89, 14, 26]

In [10]:
def reorder_1(list_a):
    return [ele for ele in list_a if ele<0] + [ele for ele in list_a if ele>0]
reorder_1([-34,-12,-69,-43,90,45,23,98])

[-34, -12, -69, -43, 90, 45, 23, 98]

In [11]:
list(range(1,11))
list(range(1,26))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [12]:
def fill_dict(n):
    sq_dict={}
    for ele in range(1,n+1):
        sq_dict[ele]=ele**2
    return sq_dict
fill_dict(10)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [13]:
def small_large(list_a):
    list_a.sort()
    return list_a[0],list_a[-1]

small_large([12,34,1,8,3,7,45,32,67,87,45])

(1, 87)

In [14]:
def sequence(n):
    seq_list=[]
    for ele in range(1,n+1):
        seq_list.append(str(n)*ele)
        
    return seq_list
sequence(3)

['3', '33', '333']

In [15]:
 def sequence(n):
    seq_list=[]
    for ele in range(1,n+1):
        seq_list.append(str(n)*ele)
    
    res=0
    for ele in seq_list:
        res=res+int(ele)
    return res

sequence(3)

369

In [16]:
def remainder(n):
    return n%5

sorted([63,39,94,42,55,15],key=remainder)

[55, 15, 42, 63, 39, 94]

In [17]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [28]:
n = 5
my_list=[1,2,3,4,5,6,7,8,9]
x = list(divide_chunks(my_list, n)) 
print (x)

[[1, 2, 3, 4, 5], [6, 7, 8, 9]]

In [32]:
n=3
my_list=[1,2,3,4,5,6,7,8,9,10,11,12]

x=list(divide_chunks(my_list,n))

print(x)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [36]:
def chunks(a_list,n):
    for i in range(0,len(a_list),n):
        print(a_list[i:i+n])

chunks([1,2,3,4,5,6,7,8,9,10,11,12,13,14],3)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10, 11, 12]
[13, 14]