In [2]:
students_info_tup=(34,56,78,63,23,75,78,34,'Data Science',True)

students_info_tup[-3:]

#students_info_tup.extend('New tuple element')

#students_info_tup.remove(56)

students_info_tup

(34, 56, 78, 63, 23, 75, 78, 34, 'Data Science', True)

In [5]:
x=[(10,'Zero 40'),(36,'Mylife'),(45,'Fat pigeon')]
x[0][1]

type(x)

list